$c-setup: $c-secondary;
$c-slider: $c-setup;

.game-setup {
  width: 30em;
  padding: 0;

  text-align: center;

  h2 {
    margin: 1.5rem 0;
  }

  .setup-content > div {
    padding: 0.5em 1em;
  }

  group.radio {
    margin: 0 auto 1em auto;
    width: 70%;

    .disabled {
      opacity: 0.4;
      cursor: default;
    }

    input:checked + label {
      background: $c-setup;
    }
  }

  .optional-config {
    border-bottom: $border;
  }

  .optional-config.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .optional-config,
  .ratings {
    background: $c-bg-zebra;
    border-top: $border;
  }

  .mode-choice {
    margin-top: 1em;
  }

  .label-select {
    @extend %flex-center;

    label {
      flex: 0 0 33%;
      text-align: right;
    }

    select {
      margin-#{$start-direction}: 0.8em;
      font-weight: bold;
    }
  }

  .fen__form {
    @extend %flex-center-nowrap;
  }

  .fen__board {
    display: block;
    width: 50%;
    margin: 0.5em auto 0 auto;
  }

  #fen-input {
    flex: 1 1 100%;
  }

  .failure {
    background: mix($c-bg-box, $c-bad, 80%);
    box-shadow: 0 0 13px 6px mix($c-bg-box, $c-bad, 80%);
    border-radius: 0.5em;
  }

  .color-submits {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    margin: 1em auto;
    text-align: center;

    &__button {
      margin: 0 0.5em;
      width: 64px;
      height: 64px;
      padding: 7px;

      i {
        display: block;
        padding: 0;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
      }

      &.white i {
        background-image: img-url('../piece/cburnett/wK.svg');
      }

      &.black i {
        background-image: img-url('../piece/cburnett/bK.svg');
      }

      &.random {
        width: 85px;
        height: 85px;
        padding: 10px;

        i {
          background-image: img-url('wbK.svg');
          background-size: 65px 65px;
          width: 65px;
          height: 65px;
        }
      }

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    .spinner {
      width: 85px;
      height: 85px;
      margin: 10px auto 20px auto;
    }
  }

  .label-select {
    &.variant {
      margin-bottom: 1em;
      padding-bottom: 0;
    }
  }

  .range {
    padding-top: 1em;

    span {
      font-weight: bold;
    }

    input {
      font-size: 1.5em;
      margin-top: 0.5em;
      padding: 0;
      width: 90%;
    }
  }

  .rating-range {
    @extend %flex-center-nowrap;
    justify-content: center;
    .rating-min,
    .rating-max {
      flex: 0 0 7ch;
    }
    input {
      width: 30%;
      padding: 0.6em 0;
    }
  }

  .ratings {
    padding: 1em;
    width: 100%;
    text-align: center;
    strong {
      margin-#{$end-direction}: 0.25em;
    }
  }
}
